/* ---------------------------------------------------------media query------------------------------------------- */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (max-width: 1200px) {
  .filter_section .box-menu ul li{
    width: calc(100% / 5);
    margin-bottom: 3%;
  }
  .filter_section .box-menu ul li .mega_button{
    width: 30.625rem;
  }
  .filter_section .mega_menu {
    top: 30%;
  }
  .filter_section .box-list{
    margin: 2%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 1023.98px) {
  .filter_section .box-menu ul li .mega_button{
    width: 24.625rem;
  }
  .how_work .boxes .box::after{
    top: 25%;
    left: 12%;
  }
  footer .social_icon{
    justify-content: center;
  }
  footer .lower_footer p{
    text-align: center;
  }
  footer .footer_logo{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767.98px) {
  .filter_section .box-menu ul li .mega_button{
    width: 10.625rem;
  }
  .filter_section .box-menu ul{
    flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .filter_section .box-menu ul li{
 width: calc(100% / 2) !important; 
  }
  .filter_section .mega_menu .boxes_mega_menu ,.filter_section .mega_menu .boxes_mega_menu .list_mega{
    flex-direction: column;
  }
  .filter_section .mega_menu .boxes_mega_menu .list_mega a{
    width: 99%;
  }
  .filter_section .mega_menu{
    top: 100%;
  }
  .how_work .boxes{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .how_work .boxes .box{
    width: 60%;
  }
  .how_work .boxes .box::after{
    display: none;
  }
  .accordion-button{
    text-align: right;
    font-size: .6rem;
  }

}
