/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
    - Font Family
   	- Box sizing
    -scroll bar
    - custom var  
    - form content
    - 
# Base
	- pre loader
	- button up
  -navbar
	- home page
    -- hero section
    -- service section
    -- why choise us section
    -- our service section
    -- counter section
    -- team section
    -- printer in sucess section
    -- blog section
  - about us page
  - service page
  - blog page
  - contact page
  - inquery page
	- footer
## Layouts 
*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

:root {
  --color-white: #fff;
  --color-primary: #e20613;
  --color-secound: #03275a;
  --color-text: #191e3a;
  --color-pargraph: #878787;
}

@font-face {
  font-family: "light";
  src: url("../fonts/DINNEXTLTARABIC-LIGHT-2-2.ttf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/DINNextLTArabic-Regular-4.ttf");
}

@font-face {
  font-family: "meduim";
  src: url("../fonts/DINNextLTArabic-Medium-4.ttf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/alfont_com_HelveticaWorld-Bold.ttf");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  direction: rtl;
  height: 100vh;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding: 0px;
}
p {
  margin-bottom: 0;
}
/* scroll bar */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: var(--color-primary);
}
*::-webkit-scrollbar-thumb {
  background: var(--color-pargraph);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--color-text);
}

/* scroll bar */
//custom var
.text {
  font-size: 1rem;
  color: var(--color-text);
  font-family: "regular";
}
.parg {
  font-size: 0.8rem;
  color: var(--color-pargraph);
  font-family: "regular";
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  .first {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease-in-out;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 0px;
    font-size: 1rem;
    font-family: "meduim";
    text-align: center;
    color: var(--color-white);
    padding: 2% 1%;
    width: 100%;
    &:hover {
      background-color: white;
      color: var(--color-primary);
    }
  }

  .second {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease-in-out;
    background: var(--color-white);
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    font-size: 0.6rem;
    font-family: "meduim";
    text-align: center;
    color: var(--color-primary);
    padding: 2% 1%;
    &:hover {
      background-color: var(--color-primary);
      color: white;
    }
  }
  .third {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease-in-out;
    background: var(--color-secound);
    border: 1px solid var(--color-secound);
    border-radius: 0px;
    font-size: 1rem;
    font-family: "meduim";
    text-align: center;
    color: var(--color-white);
    padding: 1%;
    &:hover {
      background-color: white;
      color: var(--color-secound);
    }
  }
}
.main-title {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    font-size: 2.2rem;
    font-family: "meduim";
    color: var(--color-text);
  }
  p {
    font-size: 1.1rem;
    font-family: "regular";
    color: var(--color-pargraph);
    padding: 2% 19%;
    text-align: center;
  }
}

.header_footer {
  font-size: 1.2rem;
  color: var(--color-white);
  font-family: "meduim";
  position: relative;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 2px;
    background-color: var(--color-primary);
    color: var(--color-primary);
  }
}
.icon_filter {
  display: flex;
  position: absolute;
  top: 21%;
  right: 2%;
  z-index: 100;
  i {
    color: var(--color-pargraph);
  }
}
//form content
.input-group {
  position: relative;
  margin-bottom: 3%;
  .icon_form {
    position: absolute;
    right: 0.3rem;
    top: 58%;
  }
}
.form-label {
  width: 100%;
  font-size: 1rem;
  color: var(--color-text);
  font-family: "regular";
}

.form-control {
  border-radius: 2px;
  padding-right: 6%;
  background-color: transparent;
  color: var(--color-pargraph);
  font-family: "regular";
  &:focus {
    box-shadow: none !important;
    border-color: var(--color-pargraph) !important;
  }
  &::placeholder {
    color: var(--color-text) !important;
    font-family: "regular" !important;
    font-size: 0.9rem;
  }
}
textarea {
  height: 100px;
}
textarea.form-control {
  padding-right: 2%;
}

.form-select {
  border-radius: 0px;
  padding: 0.375rem 2.25rem 0.375rem 1.4rem;
  font-family: "regular";
  background-color: var(--color-white);
  color: var(--color-text);
  background-position: left;
  position: relative;
  &:focus {
    box-shadow: unset !important;
  }
}

.btn:focus,
.form-check-input:focus,
.form-check :focus,
.btn-check:focus + .btn,
.btn-close:focus,
.accordion-button:focus {
  box-shadow: none;
}

input[type="data"] {
  color: var(--color-secound);
  font-family: "regular";

  &::placeholder {
    content: "";
  }
}

.form-check {
  .form-check-input {
    float: right;
    margin-left: 5px;
    &:checked {
      background-color: var(--color-primary);
      border-color: var(--color-primary);
    }
  }
  .form-check-label {
    font-size: 1rem;
    font-family: "regular";
    color: var(--color-text);
  }
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  opacity: 0;
  padding: 5px;
  cursor: pointer;
  width: 50%;
  border-radius: 3px;
}

/* delete arrow from input number */

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* delete arrow from input number */

//reset password
.number_code {
  margin: 0 0.5%;
  width: 100%;
  input {
    width: 15%;
    display: inline-block;
    height: 60px;
    text-align: center;
    font-size: 2rem;
    border: none;
    border-bottom: 1px solid var(--color-pargraph);
    border-radius: 0;
  }
}

//reset password
//modal
#exampleModal {
  .modal-dialog {
    max-width: 43.75rem;
    .modal-body {
      h2 {
        font-size: 1.6rem;
        margin-bottom: 3%;
      }
      .button {
        justify-content: flex-start;
        .btn {
          width: 26%;
          padding: 1%;
        }
      }
    }
  }
}

//modal

// watts plugin
.bh-widget-page .bh-w-link {
  display: none;
}

/* hamburger icon */
.navbar {
  .navbar-toggler {
    cursor: pointer;
    border: 1px solid var(--color-white);
    width: 1.8em !important;
    height: 1.8em !important;
    padding: 0 7px 2px 7px !important;
    outline: none !important;
    &:focus {
      box-shadow: none;
      cursor: pointer;
      border: 1px solid var(--color-white) !important;
      width: 1.8em !important;
      height: 1.8em !important;
      padding: 0 7px 2px !important;
    }
  }
  .navbar-toggler-icon {
    transition: all 0.2s ease-out;
    transform: rotate(0 deg);
    width: 1em !important;
    height: 2px !important;
    display: flex;
    background-image: none;
    background-color: var(--color-white);
    position: absolute !important;
    transition: all 0.2s ease-in;
    &::before {
      width: 1em !important;
      height: 2px !important;
      display: flex;
      background-image: none;
      background-color: var(--color-white);
      position: absolute !important;
      transition: all 0.2s ease-in;
      content: "";
      display: block;
      top: -0.3em;
    }
    &::after {
      width: 1em !important;
      height: 2px !important;
      display: flex;
      background-image: none;
      background-color: var(--color-white);
      position: absolute !important;
      transition: all 0.2s ease-in;
      content: "";
      display: block;
      bottom: -0.3em;
    }
  }
}
.active-hamburger {
  .navbar-toggler-icon {
    transition: 0.2s;
    transform: rotate(405deg);
    &::before {
      top: 0;
      opacity: 0;
    }
    &::after {
      transition: 0.2s;
      transform: rotate(-90deg);
      display: flex;
      justify-content: center;
      text-align: center;
      top: 0;
      right: 0;
    }
  }
}

/* hamburger icon */

/* start preloader */

#preloader {
  background-image: url(../image/Rolling-1s-200px.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1100;
}

/* finish preloader */

/* start button up */

#button {
  display: inline-block;
  background-color: var(--color-white);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  position: fixed;
  bottom: 40px;
  left: 30px;
  transition: background-color 0.5s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  border: 1px solid var(--color-primary);
  animation: move-toggs 3s linear infinite;

  &::after {
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: var(--color-primary);
  }

  i {
    color: var(--color-primary);
    margin: auto;
    font-size: 22px;
    transition: 0.3s all;
  }

  &:hover {
    background-color: var(--color-text);
    border-color: var(--color-text);
    cursor: pointer;
    i {
      color: var(--color-white);
    }
  }

  &:active {
    background-color: #555;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

// @keyframes move-toggs {
//   0% {
//     bottom: 40px;
//   }

//   25% {
//     bottom: 20px;
//   }

//   50% {
//     bottom: 10px;
//   }

//   75% {
//     bottom: 20px;
//   }

//   100% {
//     bottom: 40px;
//   }
// }

/* finish button up  */

//start navbar
.navbar {
  background-color: var(--color-text);

  .navbar-brand {
    width: 52px;
    height: 52px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      width: 66%;
      justify-content: center;
      .nav-item {
        transition: 0.35s all ease-in;
        position: relative;
        .nav-link {
          font-size: 1.2rem;
          font-family: "regular";
          color: var(--color-white);
          padding-right: 1rem;
          padding-left: 1rem;
          position: relative;
          overflow: hidden;
          z-index: 1;
          transition: 0.25s all;
        }
      }

      .nav-item.active {
        .nav-link {
          color: var(--color-primary);
          font-family: "meduim";
          transition: 0.25s all ease-in-out;
          &:hover {
            color: var(--color-white);
          }
        }
      }
    }
    .sign_button {
      width: 17%;
      margin-top: 0;
      .first {
        padding: 0% 4% 3%;
        font-size: 1rem;
        font-family: "meduim";
        border-radius: 0;
        width: 78%;
        &:hover {
          border-color: transparent;
        }
      }
    }
    .dropdown {
      .dropdown-toggle {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--color-white);
        border-radius: 0;
        font-size: 1rem;
        font-family: "regular";
      }
      .dropdown-menu {
        min-width: 5rem;
        .dropdown-item {
          font-family: "regular";
          font-size: 0.8rem;
          color: var(--color-text);
        }
      }
    }
  }
}

//finish navbar
// start hero section
.hero_section {
  position: relative;
  .swiper {
    width: 100%;
    height: 100%;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      position: relative;
      .img {
        height: 100vh;
        width: 100%;
        position: relative;
        z-index: 50;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          background-position: center;
          position: relative;
          background-repeat: no-repeat;
          background-size: contain;
          transition: all 7s ease-in-out;
          overflow: hidden;
          z-index: 99;
        }
      
      }
      .slope_shape {
        position: absolute;
        left: 0px;
        top: 0;
        width: 50%;
        height: 100vh;
        background-image: linear-gradient(to bottom right, #141d3b, #002040);
        clip-path: polygon(0 0%, 65% 0, 100% 100%, 0% 100%);
        z-index: 100;
        
      }
      .shape_mob {
        position: absolute;
        top: 20%;
        left: 15%;
        width: 900px;
        height: 350px;
        z-index: 120;
     
        img{
          width: 100%;
          height: 100%;
          z-index: 120;
          animation: move 5s linear infinite;
         
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.1);
      transition: 0.3s all ease-in-out;
      &::after {
        opacity: 0;
        display: none;
      }
      i {
        color: var(--color-white);
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
        i {
          color: var(--color-primary);
        }
      }
    }
  }
}
@keyframes move {
  0%{
    transform: translateY(0px) rotateY(0deg);
  }
  25%{
    transform: translateY(20px) rotateY(20deg);
  }
  50%{
    transform: translateY(40px) rotateY(40deg);
  }
  75%{
    transform: translateY(20px) rotateY(20deg);
  }
  100%{
    transform: translateY(0px) rotateY(0deg);
  }
}
//finish hero section

//start filter section
.filter_section {
  padding: 3% 0;
  position: relative;
  .box-menu {
    ul {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      li {
        width: calc(100% / 10);
        cursor: pointer;
        font-family: "regular";
        margin-left: 1%;
        .nav-link {
          border: 1px solid transparent;
          // width: calc(100% / 9);
          border-radius: 5px;
          background-color: #f7f7f7;
          padding: 0.1rem 0.4rem;
          margin-left: 1%;
          width: 100%;
          transition: 0.25s all ease-in-out;
          height: 3rem;

          &:hover {
            color: var(--color-primary);
            background-color: var(--color-text);
            i {
              color: var(--color-white) !important  ;
            }
          }
          i {
            font-size: 1rem;
            transition: 0.25s color ease-in-out;
          }
        }
        .mega_button {
          position: relative;
          width: 15.625rem;
          min-height: 45px;
          border-radius: 5px;
          background-color: #f7f7f7;
          cursor: pointer;
          border: 1px solid transparent;
          z-index: 110;
          transition: 0.45s all ease-in-out;
          .arrow_mega {
            position: absolute;
            left: 0.313rem;
            top: 23%;
            transition: 0.35s all ease-in-out;
          }
        }
        .mega_button.show {
          background-color: var(--color-text);
          transition: 0.45s all ease-in-out;

          i {
            color: var(--color-white);
          }
          .arrow_mega {
            transform: rotate(0.25turn);
            transition: 0.35s all ease-in-out;
          }
        }
      }
      li.mixitup-control-active {
        .nav-link {
          color: var(--color-white);
          background-color: var(--color-text);
          border-radius: 5px;

          i {
            font-size: 1rem;
            transition: 0.25s color ease-in-out;
            color: var(--color-white) !important;
          }
        }
      }
      li.nav-item {
        text-align: center;
        width: 100px;
        .nav-link {
          padding: 0.1rem 2rem;
        }
      }
    }
  }

  .box-list {
    margin-top: 5%;

    .card {
      border-radius: 2px;
      padding: 3% 2%;
      margin-bottom: 4%;
      .header_card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #f7f7f7;
      }
      .content_card {
        padding: 2% 0;
      }
      .footer_card {
        padding: 1% 0 3%;
      }
    }
  }

  .mega_menu {
    animation: hide_animate 1s linear;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

    z-index: 150;
    width: 69.188rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-text);
    padding-left: 0;
    padding-right: 0;
    transition: 0.45s all ease-in;
    .boxes_mega_menu {
      display: flex;
      justify-content: start;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      transition: 0.5s all ease-in;
      .list_mega {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        a {
          width: 25%;
          .box {
            width: 100%;
            border: 1px solid #c9c9c9;
            padding: 6%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: row;
            img {
              width: 30px;
              height: 30px;
              margin-left: 2%;
            }
          }
        }
      }
    }
  }
  .mega_menu.show {
    display: block;
    transition: 0.5s all ease-in-out;
    animation: show_animate 1s linear;
  }
}
@keyframes show_animate {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

//finish filter section

//start how work
.how_work {
  margin: 2% 0;
  background-color: rgba($color: #191e3a, $alpha: 0.03);
  padding: 5% 0;
  .boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    .box {
      width: 33%;
      padding: 1% 5%;
      position: relative;
      &:nth-child(3) {
        &::after {
          display: none;
        }
      }
      &::after {
        content: url(../image/arrow.png);
        width: 10%;
        height: 10%;
        top: 50%;
        left: 3%;
        position: absolute;
      }
      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        color: var(--color-primary);
        background-color: var(--color-primary);
        top: 55%;
        right: 17%;
        transition: 0.5s all ease-in;
      }
      &:hover {
        &::before {
          width: 60px;
        }
      }
      span {
        font-size: 5rem;
        position: relative;
      }
    }
  }
}
//finish how work

//start important information
.important_information {
  position: relative;
  padding: 4% 0;
  .accordion-item {
    margin: 2% 0;
    border: 1px solid #f7f7f7;
    .accordion-header {
      font-size: 1.5rem;
      color: var(--color-text);
      font-family: "regular";
    }
    .accordion-button {
      &::after {
        margin-right: auto;
        margin-left: 0;
      }
      &:not(.collapsed) {
        color: var(--color-primary);
        background-color: rgba($color: #e20613, $alpha: 0.03);
      }
    }
    .accordion-body {
      font-family: "meduim";
      font-size: 0.8rem;
      color: var(--color-pargraph);
    }
  }
}
//finish important information

//start content
.main_content {
  .cards {
    padding: 4% 0;
    .card {
      border-radius: 2px;
      padding: 3% 2%;
      .header_card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #f7f7f7;
      }
      .content_card {
        padding: 2% 0;
      }
      .footer_card {
        padding: 1% 0 3%;
      }
    }
  }
}

//finish content

//start footer
footer {
  background-color: var(--color-text);
  padding: 3% 0;
  margin-top: 2%;
  .footer_logo {
    width: 92px;
    height: 92px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7% 0 2%;
    li {
      margin-bottom: 3%;
      a {
        font-size: 1rem;
        color: var(--color-white);
        font-family: "meduim";
      }
    }
  }
  .social_icon {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 2%;
    padding: 7% 0 2%;

    li {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: var(--color-white);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-left: 3%;
      transition: 0.25s background-color ease-out;

      a {
        i {
          color: var(--color-pargraph);
          transition: 0.25s color ease-out;
        }
      }
      &:hover {
        background-color: var(--color-primary);
        a {
          i {
            color: white;
          }
        }
      }
    }
  }
  .lower_footer {
    border-top: 1px solid var(--color-white);
    padding-top: 2%;
    margin-top: 2%;
    p {
      color: var(--color-white);
      text-align: end;
    }
  }
}
//finish footer

//start header
.header {
  background-color: rgba($color: #191e3a, $alpha: 0.03);
  padding: 3% 0;
  a {
    font-size: 1.2rem;
    color: var(--color-pargraph);
    font-family: "regular";
  }
  i {
    color: var(--color-pargraph);
  }
  span {
    font-size: 1rem;
    color: var(--color-text);
    font-family: "regular";
  }
}

//finish header

//start policy page
.pravicy {
  padding: 5% 0;
  .content {
    padding: 3% 0;
    ul {
      list-style-image: url(../image/checked.png);
      text-align: center;
      li {
        font-size: 1rem;
        text-align: start;
      }
    }
  }
}
//finish policy page

//account page
.acounnt_sec {
  position: relative;
  padding: 5% 0;
  .main-title {
    padding-bottom: 5%;
  }
  .card {
    border-radius: 2px;
    padding: 3% 2%;
    .header_card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid #f7f7f7;
    }
    .content_card {
      padding: 2% 0;
    }
    .footer_card {
      padding: 1% 0 3%;
      .button {
        .btn {
          width: 90%;
        }
      }
    }
  }
  .button {
    .btn {
      width: 26%;
      padding: 1%;
    }
  }
}
//account page

//account facebook
.content_account {
  position: relative;
  padding: 5% 0;
  .img {
    width: 9rem;
    height: 8.125rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .summery {
    .header_summery {
      padding-bottom: 4%;
      span {
        font-size: 1rem;
        color: var(--color-pargraph);
        font-family: "regular";
      }
      .text {
        font-size: 1.8rem;
      }
      .parg {
        text-align: start;
        span {
          color: var(--color-text);
        }
      }
    }
    .summery_content {
      .text {
        font-size: 1.1rem;
      }
      ul {
        list-style-image: url(../image/dot.png);
        li {
          text-align: start;
          font-size: 1rem;
        }
      }
    }
    .footer_summery {
      padding-top: 5%;
      .form-select {
        padding: 0.375rem 0.45rem 0.75rem 0.4rem;
        text-align: center;
      }
      .button {
        margin-top: 0;
      }
    }
  }
}
//account facebook

//buy account
.buy_account {
  position: relative;
  padding: 1%;
  margin-top: 4%;
  .header {
    padding: 1%;
    .img {
      width: 16rem;
      height: 14.125rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .text {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
      text-align: start;
      padding-bottom: 2%;
    }
  }
}
.methods_pay {
  padding: 3% 0;
  .text {
    font-size: 1.3rem;
  }
  a {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
//buy account

//login
.login_form {
  position: relative;
  padding: 4% 0;
  form {
    background-color: rgba($color: #191e3a, $alpha: 0.03);
    padding: 10% 5%;
    margin-top: 1%;
    .input-group {
      position: relative;

      .icon_filter {
        top: 59%;
      }
    }
    a {
      transition: 0.25s all ease-in;
      &:hover {
        color: var(--color-primary) !important;
      }
    }
    .account {
      font-size: 1rem;
      font-family: "regular";
      color: var(--color-text);
      text-align: center;
      padding-top: 2%;
      a {
        color: var(--color-primary);
      }
    }
  }
}
//login

//buy conformation
.number_verfication {
  position: relative;
  padding: 5% 0;
  .number {
    background-color: rgba($color: #191e3a, $alpha: 0.03);
    padding: 3%;
    text-align: center;
    span {
      font-size: 0.9rem;
      color: var(--color-pargraph);
      font-family: "regular";
    }
  }
  .information_connect {
    padding: 4% 0;
    .main-title {
      justify-content: start;
      align-items: flex-start;
      p {
        text-align: start;
        padding: 2% 0;
      }
    }
    form {
      .input-group {
        .icon_filter {
          top: 57%;
        }
      }
      .button {
        align-items: flex-start;
        justify-content: flex-start;
        .btn {
          width: 30%;
          padding: 1%;
        }
      }
    }
  }
}

//buy conformation

//personal account
.personal_account {
  position: relative;
  padding: 5% 0;
  .nav-pills {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    border: 1px solid #f7f7f7;
    .nav-link {
      font-family: "regular";
      font-size: 1.2rem;
      color: var(--color-pargraph);
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: flex-start;
      border-bottom: 1px solid #f7f7f7;
      border-radius: 0;
      transition: 0.25s all ease-in-out;
      &:hover {
        background-color: var(--color-primary);
        color: var(--color-white);
        i {
          color: var(--color-white);
        }
      }
      i {
        font-size: 1.2rem;
        color: var(--color-pargraph);
        margin-left: 2%;
      }
    }
    .nav-link.active {
      background-color: var(--color-primary);
      color: var(--color-white);
      i {
        color: var(--color-white);
      }
    }
  }
  .tab-content {
    .tab-pane {
      //our account
      .my_account {
        .personal_id {
          .text {
            font-size: 1.3rem;
            margin-bottom: 2%;
          }
          .content {
            border: 1px solid #878787;
            padding: 2% 4%;

            form {
              .profile-pic-div {
                height: 139px;
                width: 137px;
                position: absolute;
                top: 7%;
                left: 27%;
                transform: translate(0, 6%);
                border-radius: 50%;
                overflow: hidden;
                border: 1px solid grey;
              }
              #photo {
                height: 100%;
                width: 100%;
              }
              #file {
                display: none;
              }
              #uploadBtn {
                height: 40px;
                width: 80%;
                position: absolute;
                bottom: -220px;
                font-family: "regular";
                left: 59%;
                transform: translateX(-50%);
                text-align: center;
                background: transparent;
                color: var(--color-primary);
                font-size: 14px;
                border: 1px solid var(--color-primary);
                cursor: pointer;
                border-radius: 5px;
                transition: 0.25s all ease;
                &:hover {
                  opacity: 0.5;
                }
                h6 {
                  font-size: 13px;
                  margin: auto;
                  padding-top: 6%;
                }
              }
              .input-group {
                .icon_filter {
                  top: 59%;
                }
              }
              .button {
                justify-content: flex-end;
                .btn {
                  width: 33%;
                  padding: 1%;
                }
              }
            }
          }
        }
        .password {
          margin-top: 7%;
          .text {
            font-size: 1.3rem;
            margin-bottom: 2%;
          }
          .content {
            border: 1px solid #878787;
            padding: 2% 4%;
            form {
              .input-group {
                .icon_filter {
                  top: 59%;
                }
              }
              .button {
                justify-content: flex-end;
                .btn {
                  width: 33%;
                  padding: 1%;
                }
              }
            }
          }
        }
      }
      //our account

      //our notfication
      .notfication_section {
        .notfication_exist {
          .text {
            font-size: 1.8rem;
          }
          .notfication_box {
            height: 100px;
            overflow-y: scroll;
            margin-bottom: 5%;
            .box {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              div {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 2% 0;
                width: 80%;
                .text {
                  font-size: 1rem;
                  margin-right: 1%;
                }
              }
            }
          }
        }
      }
      //our notfication

      // tickets
      .tickets_section {
        .main-title {
          text-align: start;
          justify-content: start;
          align-items: start;
          h6 {
            font-size: 1.2rem;
          }
          p {
            text-align: start;
            padding: 1% 0;
          }
        }
        .ticket_box {
          background-color: #f7f7f7;
          padding: 1% 2%;
          .box_inquery {
            p {
              text-align: start;
            }
            .cole {
              margin-top: 2%;
              span {
                &:first-child {
                  background-color: rgba($color: #191e3a, $alpha: 0.1);
                  padding: 1%;
                  font-family: "regular";
                  font-size: 0.7rem;
                  color: var(--color-text);
                }
                &:nth-child(2) {
                  font-family: "regular";
                  font-size: 0.7rem;
                  color: var(--color-text);
                  border: 1px solid var(--color-text);
                  border-radius: 5px;
                  padding: 3px;
                  margin: 0 2%;
                }
                &:last-child {
                  font-family: "regular";
                  font-size: 0.9rem;
                  color: var(--color-text);
                }
              }
            }
          }
          .replay {
            margin-top: 4%;
            .box {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              width: 60%;
              div {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 2% 0;
                width: 80%;
                img {
                  width: 30px;
                  height: 30px;
                }
                .text {
                  font-size: 0.7rem;
                  margin-right: 1%;
                }
              }
            }
            p {
              text-align: start;
            }
          }
        }
      }
      // tickets

      //orders
      .order_section {
        .main-title {
          text-align: start;
          justify-content: start;
          align-items: start;
          h6 {
            font-size: 1.2rem;
          }
          p {
            text-align: start;
            padding: 1% 0;
          }
        }
        .order_tabel {
          .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
            thead {
              background-color: rgba($color: #191e3a, $alpha: 0.1);
            }
            tbody {
              td {
                span {
                  font-size: 10px;
                  padding: 7% 9%;
                  border-radius: 13px;
                }
              }
              tr {
                border-bottom: 1px solid #8f92a1;
                &:last-child {
                  border-bottom: none;
                }
              }
            }
            td {
              border: none;
              text-align: start;
              font-family: "regular";
              font-size: 0.9rem;
              padding: 20px;
              color: var(--color-pargraph);
            }
            th {
              color: var(--color-text);
              font-family: "meduim";
              border: none;
              font-size: 1rem;
            }
          }
        }
      }
      //orders
    }
  }
}

//personal account
